In [50]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\visitante\desktop\tecnicodeinteligencia\venv\lib\site-packages (2.3.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\visitante\desktop\tecnicodeinteligencia\venv\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\visitante\desktop\tecnicodeinteligencia\venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\visitante\desktop\tecnicodeinteligencia\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\visitante\desktop\tecnicodeinteligencia\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\visitante\desktop\tecnicodeinteligencia\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [51]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/romulodf-cesar/datasets_senac/refs/heads/main/tracking.csv')

In [52]:
df.head()

   inicial  palestras  contato  comprou  patrocinio
0        1          1        0        0           0
1        1          1        0        0           0
2        1          1        0        0           0
3        1          1        0        0           0
4        1          1        0        0           0

In [53]:
# fazendo uma estimativa da coluna comprou
y = df['comprou']
y.head()

0    0
1    0
2    0
3    0
4    0
Name: comprou, dtype: int64

In [54]:
x = df[["inicial", "palestras",	"contato",	"patrocinio"]]
x.head()

   inicial  palestras  contato  patrocinio
0        1          1        0           0
1        1          1        0           0
2        1          1        0           0
3        1          1        0           0
4        1          1        0           0

In [55]:
# número de linhas existentes
df.shape
## 99 linhas  e 5 colunas

(99, 5)

In [73]:

#vamos separar quem é treino e quem é teste

from sklearn.model_selection import train_test_split
SEED = 1245
# o parâmetro random_state garante que a divisão seja sempre a mesma 
# test_size é o tamanho do conjunto de teste
# stratiy é para garantir que a proporção de cada classe seja mantida

treino_x, teste_x, treino_y, teste_y = train_test_split(x,y,random_state=SEED, test_size=0.25,stratify=y)

print(f"Treinaremos com {len(treino_x)} elementos")
print(f"Testaremos com {len(teste_x)} elementos")

Treinaremos com 74 elementos
Testaremos com 25 elementos

In [80]:
# vamos treinar o modelo
from sklearn.svm import LinearSVC
modelo = LinearSVC()
modelo.fit(treino_x,treino_y)
previsoes = modelo.predict(teste_x)

In [81]:
from sklearn.metrics import accuracy_score
acuracia = accuracy_score(teste_y, previsoes) * 100
print(f"A acurácia foi de {acuracia:.2f}%")

A acurácia foi de 96.00%

In [76]:
# como que ele separou os dados?
treino_y.value_counts()

comprou
0    49
1    25
Name: count, dtype: int64

In [77]:
# quantos compraram?
teste_y.value_counts()

comprou
0    17
1     8
Name: count, dtype: int64

Conclusão

Note que realizamos o mesmo processo de antes, ou seja, separamos os dados em treino e teste, mas agora entendemos o porquê da necessidade dessa separação: o modelo não pode memorizar os dados. Por outro lado, se ele entender o que os dados significam, tudo ocorre conforme esperado.

Dito isso, testamos se o modelo entendeu de forma mínima, isto é, suficiente, o que significa uma pessoa usuária querer ou não comprar. Com uma acurácia de 95%, temos um resultado positivo.

Na sequência, continuaremos trabalhando nessa questão.